<a href="https://colab.research.google.com/github/Kishankumar1328/LEETCODE/blob/main/Leetcode_pandas_solution_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    return pd.melt(report,id_vars=['product'],var_name='quarter',value_name="sales")

In [2]:
import pandas as pd

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    return weather.pivot_table(index="month",columns='city',values='temperature',aggfunc='max')

In [3]:
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:

    return pd.concat([df1,df2])

In [4]:
import pandas as pd

def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    df=pd.DataFrame(products,columns=["name","quantity","price"])
    df["quantity"]=df["quantity"].fillna(0)
    return df

In [5]:
import pandas as pd

def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    df=pd.DataFrame(students,columns=["student_id","name","age","grade"])
    df["grade"]=df['grade'].astype(int)
    return df

In [6]:
import pandas as pd

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    df=pd.DataFrame(students,columns=["id","first","last","age"])
    df.rename(columns={"id":"student_id","first":"first_name","last":"last_name","age":"age_in_years"},inplace=True)
    return df